@media (min-width: 500px) {
  .carousel .carousel-item {
    height: 300px;
  }
  .carousel-item img {
    min-height: 300px;
  }
  img {
    height: 300px;
  }
}

@media (min-width: 800px) {
  .carousel .carousel-item {
    height: 400px;
  }
  .carousel-item img {
    min-height: 400px;
  }
  img {
    height: 400px;
  }
}

@media (min-width: 1024px) {
  .carousel .carousel-item {
    height: 500px;
  }
  .carousel-item img {
    min-height: 500px;
  }
  img {
    height: 500px;
  }
}

@media(min-width: 1500px) {
  .carousel .carousel-item {
    height: 600px;
  }
  .carousel-item img {
    min-height: 600px;
  }
  img {
    height: 600px;
  }
}
