@font-face {
  font-family: 'Weather Sunday - Personal Use';
  src: url('/assets/fonts/weather-sunday/Weather Sunday - Personal Use.otf') format("opentype");
}
@font-face {
  font-family: "Arvo";
  src: url('/assets/fonts/arvo/Arvo-Regular.ttf') format("truetype");
}
@font-face {
  font-family: "Arvo";
  font-style: italic;
  src: url('/assets/fonts/arvo/Arvo-Italic.ttf') format("truetype");
}

div.content {
  margin: 0 auto;
  padding: 20px 15px;
  text-align: justify !important;
  width: 100%;
}

div.title {
  font-family: 'Weather Sunday - Personal Use';
  padding-top: 30px !important;
  text-align: center;
}

div.title h1 {
  font-size: 76px;
}

div.texto {
  font-family: "Arvo";
  font-size: 20px;
  padding: 0px 100px;
  font-style: italic;
  text-indent: 25px;
}

a.link-confirmar-presenca {
  color: #FF977C;
  cursor: pointer;
  font-weight: 600;
}
