<div class="content">
  <div class="title">
    <h1>Bem-vindos ao nosso casamento</h1>
  </div>
  <br/><br/>
  <div class="texto">
    <p>
      Estamos muito felizes! Estamos nos
      casando - novamente <i class="fas fa-laugh-beam"></i> - e queremos
      compartilhar com você toda nossa felicidade,
      já que casar com um homem como Jonathan e uma
      mulher como Maryanne é sempre maravilhoso e inexplicável!
    </p>

    <p>
      Enquanto não chega o dia da comemoração,
      criamos esse site para compartilhar nossa
      história, nossas sensações e informar os locais dos eventos.
    </p>

    <p>
      Lembre-se de confirmar sua presença com antecedencia!
      Irá nos ajudar demais. Você pode fazer isso contatando
      o telefone referenciado no convite ou
      <a [routerLink]="'confirmar-presenca'"
         class="link-confirmar-presenca">Clique Aqui</a>
    </p>

  </div>

</div>
