@font-face {
  font-family: 'Midnight_Drive_Two';
  src: url('/assets/fonts/midnight-drive/Midnight_Drive_Two.otf') format("opentype");
}

.example-container {
  bottom: 0;
  height: 100%;
  left: 0;
  right: 0;
  position: absolute;
  top: 0;
}

mat-sidenav.custom {
  background-color: #FF977C;
}

li.item {
  border: none !important;
  list-style: none !important;
  padding: 10px 45px;
}

a.item-link {
  color: #f0f0f0 !important;
  font-family: 'Midnight_Drive_Two';
  font-size: 22px;
}

li, a {
  outline: none !important;
}

.sidenav > li.active a{
  text-decoration: underline !important;
}

.footer {
  background-color: #6aa9dd;
  bottom: 0;
  height: 40px;
  margin-top: 10px;
  position: relative;
  width: 100%;
}

.footer > div.container {
  color: #f0f0f0;
}

li.item a {
  font-size: 26px;
}
