<div class="container">
  <mat-sidenav-container
    class="example-container" (backdropClick)="close()">

    <mat-sidenav class="custom" #sidenav (keydown.escape)="close()" disableClose>
      <div id="mySidenav" class="sidenav">
        <li class="item"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a [routerLink]="''"
             class="item-link" (click)="close()">Inicio</a>
        </li>
        <li class="item"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a [routerLink]="'nossa-historia'"
             class="item-link" (click)="close()">Nossa História</a>
        </li>
        <li class="item"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a [routerLink]="'galeria'"
             class="item-link" (click)="close()">Galeria</a>
        </li>
        <li class="item"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a [routerLink]="'confirmar-presenca'"
             class="item-link" (click)="close()">Confirmar Presença</a>
        </li>
      </div>

    </mat-sidenav>

    <mat-sidenav-content>

      <app-navbar (acaoAbrirSideNav)="open()"></app-navbar>
      <app-carousel></app-carousel>
      <router-outlet></router-outlet>

      <footer class="footer">
        <div class="container">
          <div>Desenvolvido por Maryanne Mendes</div>
          <div></div>
          <div></div>
        </div>
      </footer>

    </mat-sidenav-content>

  </mat-sidenav-container>

</div>
