<div class="content">
  <div class="title">
    <h1>Confirmar Presença</h1>
  </div>
  <br/><br/>
  <div class="texto">
    <p>
      Estamos altamente felizes por saber que você irá partilhar
      de nossa felicidade nesse momento tão especial.
    </p>
    <p>
      Para confirmar sua presença, nos informe o nome da forma que está escrito no convite e envie.
    </p>
  </div>
</div>
