@font-face {
  font-family: 'AlexBrush-Regular';
  src: url('/assets/fonts/alex-brush/AlexBrush-Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'Calypsoka';
  src: url('/assets/fonts/calypsoka/Calypsoka.ttf') format("truetype");
}
@font-face {
  font-family: 'I-Love-Glitte';
  src: url('/assets/fonts/\mf_i_love_glitter/I Love Glitter - TTF.ttf') format("truetype");
}

.col-md-12, .col-sm-12 {
  display: flex;
  padding: 0px 0px;
}

nav .nav-wrapper {
  height: 64px;
  position: relative;
}

div.couple {
  color: #ffe6d1;
  font-family: 'AlexBrush-Regular';
  font-size: 46px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.save-date {
  color: #ffe6d1;
  font-family: 'I-Love-Glitte';
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
}

.couple {
  color: #ffe6d1;
  font-family: 'yerbaluisa';
  text-align: center;
  width: 100%;
}

.couple .groom {
  float: left;
  text-align: left;
  width: calc(50% - 28px);
}
.couple .bride {
  float: left;
  padding-right: 10px;
  text-align: right;
  width: calc(50% - 28px);
}

.couple .heart {
  float: left;
  text-align: center;
  vertical-align: middle;
  width: 56px;
}

.heart-icon {
  color: #E91E63;
  font-size: 36px;
}

div.btn-sidenav {
  padding: 15px 0px;
  text-align: left;
  z-index: 2;
}

.fa-bars {
  color: #ffe6d1;
  cursor: pointer;
  font-size: 23px;
  padding-left: 30px;
}

.custom-nav {
  background-color: #8093ff;
}

li {
  list-style: none;
}

@media (max-width: 675px) {
  nav {
    height: 90px;
  }
  .save-date {
    color: #ffe6d1;
    font-family: 'I-Love-Glitte';
    font-size: 20px;
    font-weight: bold;
    margin: 7% 0px;
    padding-left: 10%;
    position: absolute;
    text-align: center;
    width: 100%;
  }
}


@media(max-width: 600px) {
  div.couple {
    font-size: 46px;
  }
}

@media(max-width: 452px) {
  .heart-icon {
    color: #E91E63;
    font-size: 24px;
  }

  div.couple {
    font-size: 38px;
  }

  .couple .bride {
    float: left;
    padding-right: 0px !important;
    text-align: right;
    width: calc(50% - 28px);
  }

  .couple .groom {
    float: left;
    text-align: left;
    width: calc(50% - 200px);
  }

  .couple .heart {
    float: left;
    text-align: center;
    vertical-align: middle;
    width: 30px !important;
  }

  .fa-bars {
    padding-left: 15px !important;
  }
}
