<nav class="custom-nav">
  <div class="nav-wrapper">
    <div class="col-md-12 col-sm-12">

      <div class="btn-sidenav">
        <a class="link-bars" (click)="open()">
          <i class="fas fa-bars"></i>
        </a>
      </div>

      <div class="couple">
        <div class="bride">
          <span>Maryanne</span>
        </div>
        <div class="heart">
          <span><i class="fas fa-heart heart-icon"></i></span>
        </div>
        <div class="groom">
          <span>Jonathan</span>
        </div>
      </div>

      <div class="save-date">
        <span>11|01|2020</span>
      </div>

    </div>
  </div>
</nav>
