<div class="content">
  <div class="title">
    <div class="stanza">
        <span>Só tem um jeito de te esquecer,
          é se eu perder a memória.
          Mesmo assim alguém vai lembrar da </span>
    </div>
    <div class="title-stanza">
      <h1>Nossa História</h1>
    </div>
  </div>
</div>

